* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e0dfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    width: 820px;
    background: #f5f0d6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

}

h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #614f90;
    font-size: 1.6rem;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

#next-weight,
#left-weight,
#right-weight,
#tilt-angle,
#left-tork,
#right-tork {
    width: 25%;
    background: #cbc5c5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.seesaw-area {
    position: relative;
    width: 400px;
    margin: 40px auto 0 auto;
    padding: 20px;
    border-radius: 5px;
    height: 200px;
}

.grid {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(to right,
            transparent,
            transparent 19px,
            rgba(0, 0, 0, 0.05) 20px);
    

}

.plank {
    position: absolute;
    width: 400px;
    height: 20px;
    background: #8B4513;
    top: 100px;
    left: 0;
    transform-origin: center center;
    /*bu çok önemliymiş ne olduğuna bak*/
    transition: transform 0.6s ease;
    cursor: pointer;
}

.pivot {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid black;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.weight {
    position: absolute;
    bottom: 18px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ff5252;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

button {
    display: center;
    padding: 8px 18px;
    border: none;
    background: #614f90;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}
.bottom-area {
    margin-top: 20px;
}
.log-panel {
    margin-top: 15px;
    background: #e5e5e5;
    padding: 10px;
    border-radius: 10px;
    max-height: 120px;
    overflow-y: auto;
    font-size: 14px;
}

.log-item {
    display: block;             
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 6px;
    color: white;
    font-weight: 500;
}